<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Note_App_with_Database.Properties.Settings.forpracticeConnectionString"
            connectionString="Data Source=DESKTOP-85TMEMB\FORPRACTICE;Initial Catalog=forpractice;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>